:root {
  --fs: 1.2rem;
  --color: black;
  --font-family: "Roboto", "Sans-serif";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: gird;
  grid-template-columns: repeat(4, 1fr);
}
.active-link {
  border-bottom: 1px solid;
}

.item-0 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #a1dcea;
}
.logo {
  display: none;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.other-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.nav-links a,
.other-links a {
  color: var(--color);
  text-decoration: none;
}

/*----------- media queri ------------*/
@media (min-width: 720px) and (max-width: 2220px) {
  .background {
    background: url("../assets/model6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    top: 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .item-0 {
    grid-column: 1 / span 6;
  }

  .logo {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 500;
  }
  .nav-links,
  .other-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    gap: 50px;
  }
  main img {
    width: 300px;
    height: 300px;
  }
}
