:root {
  --lh: 2rem;
  --font-family: "Roboto", sans-serif;
  --fz: 1.1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/*
.background {
  background: url("../assets/5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
*/

:root {
  --fs: 1.2rem;
  --color: black;
  --font-family: "Roboto", "Sans-serif";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: gird;
  grid-template-columns: repeat(4, 1fr);
}
.active-link {
  border-bottom: 1px solid;
}

.item-0 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #a1dcea;
}
.logo {
  display: none;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.other-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.nav-links a,
.other-links a {
  color: var(--color);
  text-decoration: none;
}

/*-----hover effekt-------*/
.nav-links a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.other-links a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/*------main-style---------*/
main {
  grid-column: 1 / span 3;

  gap: 10px;
}
main img {
  width: 100%;
  height: auto;
}
.first-image {
  display: flex;
  flex-direction: column;
}
.first-image button {
  padding: 6px 6px;
  border: none;
  background-color: #2193b0;
  color: white;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*------footer style---------*/

footer {
  grid-column: 1 / span 3;
  padding: 1.5rem;
  justify-content: space-evenly;
  display: flex;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

footer a {
  color: black;
  text-decoration: none;
}
footer .fotnot {
  bottom: 0;
  left: 0;
}
